body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: magenta;
  color: white;
  font-size: 16px;
}

/* Navbar Styling*/
nav {
  background: linear-gradient(90deg, #4b0082, #b94eb0);
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  z-index: 10;
}

.navbar-name {
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1.25em;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/*Content Table Styling*/
.content-table {
  width: 90%;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-table tr {
  display: flex;
  width: 100%;
}

.content-table td {
  padding: 20px;
  text-align: left;
  flex: 1;
}

.left-text {
  text-align: left;
  padding-right: 20px;
  width: 50%;
  font-size: 25px;
  word-wrap: break-word;
  margin: 0;
}
.left-text h2 {
  text-shadow: 1px 1px 1px black;
}

.right-image img {
  width: 100%;
  height: auto;
}

.quote {
  text-align: center;
  font-style: italic;
  padding-top: 20px;
  width: 100%;
}

/*About Page and Portfolio Page Styling*/
.about-container {
  text-align: center;
  margin: 50px auto;
  width: 80%;
}

.about-header {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
  text-shadow: 1px 1px 1px black;
}

/*About Section and Portfolio Section Styling*/
.about-section {
  background-color: pink;
  color: purple;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container .about-section:nth-child(3) {
  background-color: lavender;
}

.section-header {
  font-size: 2rem;
  font-weight: bold;
  color: magenta;
  text-align: left;
  width: 30%;
}

.section-text {
  font-size: 1rem;
  text-align: left;
  width: 75%;
  margin-left: 80px;
}

.section-image img {
  width: 60%;
  height: auto;
  margin-left: 60px;
  margin-right: 0;
}
